.link {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid #1f3b63;
  border-radius: 15px;
  transition: all 0.2s ease;
}
.url:hover {
  text-decoration: underline;
}
.deletebtn {
  color: red;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    scale: 1.5;
  }
}
