.title {
  font-weight: 300;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.empty {
  font-size: 32px;
  text-wrap: nowrap;
}
