.header {
  margin-bottom: 4px;
  background-color: #2e2e2e;
}
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLink {
  display: block;
  text-decoration: none;
  max-width: 275px;
}
.headerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 32px;
  img {
    width: 70px;
    height: 70px;
  }
}

.link {
  color: white;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.boxLogo {
  display: flex;
  gap: 10px;
  align-items: center;
}
